*{           
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img{
    height: 223px;
    width: 22%;
    
}

span{
    float: right;
    margin-right: 40px;
    
}

h1{
    text-align: center;
    color: brown;
    /* text-decoration:solid; */
    box-shadow: 2px 2px 2px 2px rgb(245, 110, 110);
    margin-top: 34px;

}

h4{
    font-weight: 600;
    font-size: 22px;
    
}

p{
    padding-left: 33px;
    padding-top: 23px;
    width: 22%;
}

h3{
    padding-top: 23px;
    padding-left: 113px;
    font-style: italic;
    text-decoration: underline;
    

}
button{
    margin-top: 23px;
    margin-left: 73px;
    font-size: 23px;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: aquamarine;
    border: none;

    
}